promptflow
promptflow[azure]
promptflow-tools
python-dotenv

fastapi
uvicorn
pydantic>=2.7,<3.0

openai

jose
python-jose
starlette

Jinja2>=3.1.4,<4.0
orjson>=3.9
regex>=2024.5.15
rapidfuzz>=3.6

python-multipart==0.0.6
redis==5.0.1