promptflow>=1.8.0
promptflow[azure]>=1.8.0
promptflow-tools>=1.8.0

python-dotenv

fastapi
uvicorn
pydantic>=2.7,<3.0

openai

jose
python-jose
starlette

Jinja2>=3.1.4,<4.0
orjson>=3.9
regex>=2024.5.15
rapidfuzz>=3.6

python-multipart==0.0.6
redis==5.0.1

# promptflow는 내부에서 marshmallow.fields._T를 참조하는데, 이건 3.x까지만 존재하기 때문에 3.x 버전을 명시적으로 설치합니다.
marshmallow==3.26.1
