services:
  talktobook-stream:
    image: rabbitmq:4-management
    restart: always
    container_name: talktobook-stream
    ports:
      - "5672:5672" # RabbitMQ main port
      - "15672:15672" # RabbitMQ management UI port (선택사항)
    volumes:
      - ./rabbitmq-definitions.json:/etc/rabbitmq/definitions.json:ro
      - /var/log/rabbitmq:/var/log/rabbitmq
    environment:
      - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbitmq_management load_definitions "/etc/rabbitmq/definitions.json"
    env_file:
      - .env
    networks:
      - talktobook-stream-network

  lifebookshelf-aggregator:
    image: "${ECR_REGISTRY}/${ECR_REPOSITORY_AGGREGATOR}:${IMAGE_TAG}"
    restart: always
    container_name: lifebookshelf-aggregator
    ports:
      - "8001:8001"
    env_file:
      - .env
    volumes:
      - /var/log/aggregator:/var/log/aggregator
    depends_on:
      - talktobook-stream
      - lifebookshelf-redis
    networks:
      - talktobook-stream-network

  lifebookshelf-redis:
    image: redis:7-alpine
    container_name: talktobook-redis
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - talktobook-stream-network

  promtail:
    image: grafana/promtail:latest
    container_name: "talktobook-promtail"
    env_file:
      - .env.promtail
    volumes:
      - /opt/deploy/promtail-config.yml:/promtail-config.yml
      - /var/log/aggregator:/var/log/aggregator
      - /var/log/rabbitmq:/var/log/rabbitmq
    command: 
      - -config.file=/promtail-config.yml
      - -config.expand-env=true  # 환경 변수 확장 활성화
    networks:
      - talktobook-stream-network

volumes:
  redis_data:

networks:
  talktobook-stream-network:
    driver: bridge